* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: screen;
}

header {
    height: 7vh;
    padding: 30px;
}

nav {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.section {
    display: flex;
    list-style: none;
    gap: 20px;
    color: gray;
}

nav ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.username {
    height: 50px;
    padding: 15px;
    color: rgb(0, 179, 255);
    border-radius: 10px;
    border: 2px solid rgba(229, 252, 128, 0.2);
    background-color: rgb(229, 252, 252);
}

.hero {
    display: flex;
    padding: 50px;
    height: 65vh;
    justify-content: center;
    gap: 15%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.left h1 {
    font-size: 40px;
}

.bluetxt {
    color: rgb(0, 189, 252);
}

.left p {
    font-size: 24px;
    line-height: 1.5;
}

.left button {
    width: fit-content;
    font-size: large;
    padding: 5%;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 189, 252);
    color: white;
}

.right img {
    width: 350px;
}

.achievements {
    padding: 0 100px;
    display: flex;
    align-items: center;
    background-color: #00BDFC;
    width: screen;
    justify-content: space-between;
    height: 15vh;
}

.services {
    display: flex;
    list-style: none;
    font-weight: 600;
    gap: 50px;
}

#bookservice {
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
}

.leftservice {
    max-height: 95vh;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;
    justify-content: space-between;
    display: flex;
    width: 45%;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(243, 242, 242);
    box-shadow: 2px 2px 5px #ccc;
}

.leftheading {
    margin-bottom: 20px
}

.list li {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 15px;
    position: relative;
}

li p {
    position: absolute;
    right: 35%;
    color: #743497;
    cursor: pointer;
}

li h1 {
    color: rgb(199, 199, 199);
    opacity: 0.4;
}

.addbtn {
    padding: 10px;
    width: 30%;
    position: absolute;
    right: 0%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(223, 222, 222);
}

.removebtn {
    padding: 10px;
    width: 30%;
    position: absolute;
    right: 0%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: red;
    background: rgb(223, 222, 222);
}

#info {
    display: flex;
    font-size: 13px;
    font-weight: 200;
    gap: 3%;
    margin: 24px 0;
    color: #743497;
    align-items: center;
}

.rightservice {
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;   
    padding: 30px 40px;
    overflow: hidden;
    background-color: rgb(243, 242, 242);
    box-shadow: 2px 2px 5px #ccc;
    max-height: fit-content;
}

.rightservice form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightheading {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 15px;
}

.table-box {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 0;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
    max-height: 280px;
    overflow: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table-box::-webkit-scrollbar {
    display: none;
}

.table-box tr {
    border: 1px solid rgba(136, 135, 135, 0.489);
}

thead {
    background: #f2f4f7;
}

tbody {
    border-bottom: 1px solid rgba(136, 135, 135, 0.489);
}

.total-price {
    display: flex;
    gap: 180px;
    justify-content: center;
    padding: 15px;
    border-top: 1px solid rgba(91, 90, 90, 0.553);
    align-items: center;
    font-weight: 600;
}

th {
    padding: 12px 16px;
    font-weight: 600;
    font-size: 12px;
    color: #333;
}

td {
    padding: 20px;
}

.empty-row td {
    padding: 20px 0;
}

.empty-box {
    text-align: center;
    color: #555;
}

.empty-box .icon {
    width: 30px;
    height: 30px;
    border: 2px solid #aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    font-weight: bold;
    font-size: 15px;
    color: #444;
}

.empty-box h3 {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
}

.empty-box p {
    margin: 0;
    color: #888;
    font-size: 12px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 600;
    border-top: 1px solid #eee;
}

.container {
    background: #ffffff;
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);
}

.container h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #222;
}

.container label {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
    color: #333;
}

.container input {
    width: 90%;
    padding: 12px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    color: #444;
}

.container input::placeholder {
    color: #cfcfcf;
}

.row {
    display: flex;
    gap: 20px;
}

.field {
    flex: 1;
}

.container button {
    width: 100%;
    background: #4e6bff;
    border: none;
    color: #fff;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.container button:hover {
    background: #3954ff;
}

.confirmation{
    padding: 20px;
    color: #01ae27;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.About-us {
    width: screen;
    display: flex;
    align-items: center;
    height: 30vh;
    padding: 50px 100px;
    justify-content: space-between;
}

.value {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
    font-size: 13px;
}

.newsletter {
    background-color: #00BDFC;
    height: 20vh;
    padding: 20px 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.subs input {
    width: 20vw;
    height: 7vh;
    padding-left: 22px;
    border: 1px solid #e3e3e3;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
}

::placeholder {
  color: white;
}

.subs button {
    width: 20vw;
    height: 7vh;
    font-size: 20px;
    background-color: #fff;
    color: #00BDFC;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
}

footer {
    padding: 20px;
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 20px;
}

.ourself h3 {
    margin-top: 20px;
}

.ourself p {
    color: gray;
}

.links ul {
    color: gray;
    margin-top: 7px;
    list-style: none;
}

.contact {
    color: gray;
}

.follow h3 {
    margin-bottom: 20px;
}